<!-- Main layout for the app -->

<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <a class="navbar-brand  nav-padding" href="/">Home</a>
      <a class="navbar-brand  nav-padding" href="/snacks/new">New Review</a>
    </div>
  </nav>
  {{{body}}}
</body>
</html>
